// big tablet to 1200px
@media only screen and (max-width: 1200px) {
    header {
        .hero-text-box {
            width: 100%;
            padding: 0 2%;
        }
    }
    .row {
        padding: 0 2%;
    }
}

// small tablet to big tablet : from 768px to 1023px
@media only screen and (max-width: 1023px) {
    body {
        section {
            padding: 60px 0;
        }
        .long-copy {
            width: 80%;
            margin-left: 10%;
        }
        .steps-box {
            margin-top: 10px;
            .works-steps {
                margin-bottom: 40px;
            }
            .app-screen {
                width: 50%;
            }
        }
        .section-plans {
            .plan-box {
                width: 100%;
                margin-left: 0;
                .plan-price {
                    font-size: $font-size*2;
                }
                .plan-price-meal {
                    // font-size: $font-size*0.8;
                }
            }
        }
        .contact-form {
            width: 80%;
        }
        .icon-small {
            width: 15px;
        }
    }
}

// small phones to small tablets: from 481px to 767px
@media only screen and (max-width: 767px) {
    body {
        font-size: $font-size*0.8;
        section {
            padding: 30px 0;
        }
        .row,
        .hero-text-box {
            padding: 0 4%;
        }
        .col {
            width: 100%;
            margin: 0 0 2% 0;
        }
        h1 {
            font-size: $font-size*1.8;
        }
        h2 {
            font-size: $font-size*1.5;
        }
        .long-copy {
            width: 100%;
            margin-left: 0;
        }
        header {
            .main-nav {
                display: none;
                float: left;
                margin-top: 25px;
                margin-left: 35px;
                li {
                    display: block;
                    a {
                        display: block;
                        border: 0;
                        padding: 5px;
                    }
                }
            }
            .mobile-nav-icon {
                display: inline-block;
            }
            .sticky {
                .main-nav {
                    margin-top: 15px;
                    li a {
                        padding: 10px 0;
                    }
                }
                .mobile-nav-icon i {
                    color: black;
                    margin-top: 10px;
                }
            }
            .sticky.expanded {
                height: 250px;
            }
        }
        .section-cities {
            font-size: $font-size*0.6;
        }
        .section-steps {
            .steps-box:first-child {
                text-align: center;
                margin: 10px;
                .app-screen {
                    width: 40%;
                }
            }
            .steps-box:last-child {
                padding: 0;
                margin-top: 20px;
                .main-box {
                    width: 80%;
                    margin: 0 auto;
                    .works-step {
                        margin-bottom: 40px;
                        div {
                            margin-top: -13px;
                            height: 40px;
                            width: 40px;
                            margin-right: 5px;
                            padding: 4px;
                            font-size: $font-size*1.2;
                        }
                    }
                }
            }
        }
        .contact-form {
            .col.span-1-of-3 {
                text-align: left;
            }
        }
    }
}

// small phones : from 0 to 480px
@media only screen and (max-width: 480px) {
    section {
        padding: 20px 0;
    }
    body {
        .contact-form {
            width: 100%;
        }
    }
}
